body {
  margin: 0;
  padding: 0;
  background: #ff7a00; /* FoxURL orange */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.logo {
  width: 160px;
  margin-top: 40px;
}
